<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Contatos</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/emp/sobre">Sobre</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/emp/contatos">Contatos</a>
            </li>
                      
          </ul>
        </div>
      </div>
    </nav>
  </header>  

  <div class="container py-4">
    

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Página Contatos</font></font></h1>

        <form action="" method="post">

          <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-8 mb-3">
              <label for="name" class="form-label d-flex">Nome</label>
              <input type="email" name="name" class="form-control" id="name" placeholder="">
            </div>
          </div>
      
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-8 mb-3">
              <label for="email" class="form-label d-flex">Email</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
          </div>
      
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-8 mb-3">
              <label for="msg" class="form-label d-flex">Descrição da mensagem</label>
            <textarea class="form-control" name="msg" id="msg" rows="3"></textarea>
            </div>
          </div>
          
          <button type="submit" class="btn px-4 btn-primary mb-3">Enviar</button>
        </form>
      </div>
    </div>

    
  </div>


  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>