<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Sobre</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/emp/sobre">Sobre</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/emp/contatos">Contatos</a>
            </li>
                      
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container mt-5">
    <h1>Página Sobre</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
      non varius massa, at elementum urna. Phasellus massa nisl, ornare 
      eu elementum sed, egestas a nunc. Aenean eu neque aliquet, auctor 
      ipsum vitae, congue lectus. Nullam facilisis tempor sem ut aliquet. Nunc congue justo a nisl finibus dapibus. Quisque neque ipsum, luctus nec ligula ac, commodo interdum nulla. Etiam feugiat lobortis volutpat. Cras ornare odio orci, posuere sagittis enim viverra ac.
    </p>
  </div>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>